@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bazar_App.Models.DTO.CategoryDto

    <label>
        <span>Name</span>
    </label>
    <br />
    <input asp-for="@Model.Name"/>
    @Html.ValidationMessageFor(x => x.Name)
    <br />
    <br />
    <label>
        <span>Photo</span>
    </label>
    <br />
    <input asp-for="@Model.File"/>
    <br />
    <br />