@page
@model Bazar_App.Pages.Email.IndexModel
@{
}
<link rel="stylesheet" href="~/css/mail.css" />
<div class="mail">
    <img src="~/images/mail.png" />
    <p>We've sent the bill details to your email</p>
    <a href="/"><i class="fa fa-long-arrow-left" style="padding-right:10px;"></i> Back Home</a>
    <p>If you have any issues<a href="/contacts" id="contact">contact us</a></p>
</div>