@using Bazar_App.Auth.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='https://css.gg/shopping-cart.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div>
               <ul class="nav">
                    <li class="navli"><a id="logo" href="/">BAZAAR</a></li>
                    <li class="navli"><a href="/">Home</a></li>
                    <li class="navli"><a href="/contacts">Contact Us</a></li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="navli"><a id="username" href="#">Hi @User.Identity.Name</a></li>
                        <li class="navli"><a id="logout" href="/Accounts/Logout">Logout</a></li>
                    }else
                    {
                        <li class="navli"><a id="signup" href="/accounts/signup">Sign Up</a></li>
                        <li class="navli"><a id="login" href="/accounts">Log In</a></li>
                    }
                    @if (signInManager.IsSignedIn(User)){
                        @await Component.InvokeAsync("CartCount")
                        <li><a id="cart" class="fa fa-shopping-cart" href="/Carts/"></a></li>
                    }
                </ul>
     </div>
    <div>
        <div>
        @RenderBody()
        </div>
        <partial name="Footer"></partial>
    </div>
</body>
</html>
