@using Bazar_App.Auth.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
               <ul class="nav">
                    <li class="navli"><a href="/">Home</a></li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="navli">@Html.ActionLink($"Hi {@User.Identity.Name}", "", "")</li>
                        <li class="navli"><a href="/Accounts/Logout">Logout</a></li>
                    }else
                    {
                        <li class="navli"><a href="/accounts/signup">Signup</a></li>
                        <li class="navli"><a href="/accounts">Login</a></li>
                    }
                </ul>
     </div>
    <div>
        @RenderBody()
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - copyright Bazar Store</p>
        </footer>
    </div>
</body>
</html>
